.img-container {
    background-image: url("../images/main-background.jpg");
    background-size: cover;
    height: 92vh;
    padding: 0px;
}

.main-heading {
    background-color: #242526;
    color: white;
    border-radius: 5px;
    /* margin: 20px; */
}